*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  line-height: 1.1;
  font-weight: 600;
  font-size: 28px;
  color: #27272E;
}

.container {
  max-width: 900px;
  padding: 100px 5px 0;
  margin: 0 auto;
}

.input {
  font-size: max(16px, 1em);
  font-family: inherit;
  background-color: #EDF2F7;
  line-height: 1;
  width: 100%;
  border-radius: 6px;
  border: 1px solid transparent;
  color: #494949;
  font-weight: 500;
  padding: 15px 16px;
  outline: none;

  transition: background-color 0.25s ease, border-color 0.25s ease, color 0.25s ease;
}

.input:focus {
  box-shadow: 0 0 0 2px rgba(76, 111, 255, 0.3);
  border-color: #7895FF;
}

.input::placeholder {
  color: #7A828A;
}

.form {
  margin-bottom: 20px;
}

.form__control {
  margin-bottom: 20px;
}

.form__label-text {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #425466;
  user-select: none;
}

.button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  outline: none;

  border-radius: 8px;

  transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out;
}

.button--primary {
  background-color: #4C6FFF;
  color: #fff;
}

.button--primary:focus {
  box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, .5)
}

.button--primary:active {
  background-color: #0a58ca;
}

.button--primary:hover {
  background-color: #0b5ed7;
}

.button--fullWidth {
  padding: 16px 0;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 40px;
}

th,
td {
  text-align: left;
  font-size: 18px;
  padding: 20px 15px;
  border: 1px solid #ddd;
}

th {
  background: #FAFAFB;
  color: #8492A6;
  text-transform: uppercase;
  font-size: 18px;
}

td {
  color: #425466;
  font-size: 14px;
}

tbody tr:nth-child(odd) {
  background-color: #eee;
}